<img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" width="550" height="325">
<h1>Welcome to the Amusement Park!</h1>
  <div>
    <%= link_to "Sign In", signin_path %>
    <%= link_to "Sign Up", signup_path %>

  </div>
