<h1>Listing attractions</h1>

<% @attractions.each do |attraction| %>
<p>Name:<% attraction.name %></p>
<p>Tickets:<% attraction.tickets %></p><br>
<% if admin? %>
<%= link_to("New Attraction", new_attraction_path) %>
  <% else %>
 <%=link_to("Show #{attraction.name}", "/attractions/#{attraction.id}") %>
  <% end %>
<%end %>
