<h1>Listing attractions</h1>

<% @attractions.each do |attraction| %>
<p>Name:<% attraction.name %></p>
<p>Tickets:<% attraction.tickets %></p>
<%= if(!current_user.admin?, link_to "Go on #{attraction.name}"<br />
<% if admin? %>
  <%= link_to("Edit", edit_attraction_path(attraction)) %>
<% end %>
