<h1>Listing attractions</h1>

<% @attractions.each do |attraction| %>
<p>Name:<% attraction.name %></p>
<p>Tickets:<% attraction.tickets %></p><br>

<% if admin? %>
<%=link_to("Show #{attraction.name}", "/attractions/#{attraction.id}") %>
  <% else %>
 <%=link_to("Go on #{attraction.name}", "/attractions/#{attraction.id}") %> <br />
  <% end %>
<%end %>

<%= link_to("New Attraction", new_attraction_path) %>
